@{
    ViewBag.Title = "Import Items Excel";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Import Items</h3>
    </div>
    @using (Ajax.BeginForm("UploadExcel", "ImportItems", null, new AjaxOptions
    {
        OnSuccess = "onSuccess_Ajax",
        HttpMethod = "post",
        LoadingElementId = "progress"
    }, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputFile">Excel File</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="readExcelFile" name="readExcelFile" onchange="return check_extension(this.value);" required="required">
                                <label class="custom-file-label" for="ExcelFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    }
</div>
<div class="card card-warning">
    <div class="card-header">
        <h3 class="card-title">Important Note</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <ul>
                <li>
                    Please select the branch before uploading the file
                </li>
                <li>
                    Please note <b>Item Code, Item Name, GroupName, Category, Brand, Rate, Company, Basic Unit</b> fields are mandatory
                </li>
                <li>
                    Please download sample file here - <a href="~/Docs/itemExcelFile.xlsx" class="btn btn-success btn-xs">Download Sample File</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="card card-danger" id="errorList" style="display:none;">
    <div class="card-header">
        <h3 class="card-title">Errors</h3>
    </div>
    <div class="card-body" id="errorBox">

    </div>
</div>
<div id="progress" class="modal">
    <div class="center" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
        <p style="position: absolute; color: White; top: 50%; left: 45%;">
            Loading, please wait... <img src="~/images/loading.gif" height="100" width="100" />
        </p>
    </div>
</div>
@section scripts {
    <script>
    function onSuccess_Ajax(data) {
        if (data.success) {
            swal.fire({
                title: "Success!",
                text: "Excel file imported successfully!!",
                type: "success",
                icon: "success",
            }).then(function () {
                window.location = '@Url.Action("Index", "ImportCustomersExcel")';
            });
        }
        @*else if (data != "") {
            swal.fire({
                title: "Error!",
                html: data,
                type: "error",
                icon: "error",
            }).then(function () {
                window.location = '@Url.Action("Index", "ImportCustomersExcel")';
            });
        }*@
        else {
            $("#errorList").show();
            $("#errorBox").html(data);
            $("#ExcelFile").val('');
            $("#ParentUserList option:selected").prop("selected", false);
        }
    }
    </script>
    <script>
        $(".form-upload").validate();
    </script>
    <script>
        var hash = {
            '.xls': 1,
            '.xlsx': 1,
        };

        function check_extension(filename) {
            var re = /\..+$/;
            var ext = filename.match(re);
            if (hash[ext]) {
                return true;
            } else {
                swal.fire("Error", "Invalid file, please upload excel file", "error");
                $("#ExcelFile").val('');
                return false;
            }
        }
    </script>
}
